    # Demographic Data Analysis
## Milestone 1: Help Level 3

## 1. Data Collection

In [3]:
# import the Pandas library
import pandas as pd

You can load the csv files with the Pandas function [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).   
Check the following parameters : sep, names, header, and usecols.

### Education file: "education.csv"
The file contains the following columns:  

```Column  | Description
--------| --------------------------------
1°       | name of the state         
2°       | % high school graduate or higher  
3°       | high School rank  
4°      | % bachelor degree or higher  
5°      | bachelor degree rank  
6°      | % advanced degree or higher  
7°      | advanced degree rank
```

In [4]:
# There is no mention of column names. We should better make a first read of the file to see what we find in it.
# Load and inspect the file education.csv
education_csv_name = 'work/csv/education.csv'
# df = pd.read_csv('%s' % education_csv_name)

In [5]:
# Load and inspect the file education.csv 
# You can use the following columns names: 'State','HSGradPer','HSRank','BADegPer','BARank','AdvDegPer','AdvRank'
# Ignore the rank columns or delete them after loading

# Read the CSV file with custom column names
# Skip the initial rows that are not part of the data
df = pd.read_csv('%s' % education_csv_name, skiprows=2,
                 delimiter=';',
                 header=None,
                 names=['State','HSGradPer','HSRank','BADegPer','BARank','AdvDegPer','AdvRank'])

print(df.head())

# # Drop the columns corresponding to ranks
df.drop(['HSRank', 'BARank', 'AdvRank'], axis=1, inplace=True)

# Show the first few rows of the DataFrame to inspect the data
print(df)

            State HSGradPer  HSRank BADegPer  BARank AdvDegPer  AdvRank
0         Montana     93.0%     1.0    30.7%    21.0     10.1%     33.0
1   New Hampshire     92.8%     2.0    36.0%     9.0     13.8%     10.0
2       Minnesota     92.8%     3.0    34.8%    11.0     11.8%     18.0
3         Wyoming     92.8%     4.0    26.7%    41.0      9.3%     39.0
4          Alaska     92.4%     5.0    29.0%    28.0     10.4%     29.0
                    State HSGradPer BADegPer AdvDegPer
0                 Montana     93.0%    30.7%     10.1%
1           New Hampshire     92.8%    36.0%     13.8%
2               Minnesota     92.8%    34.8%     11.8%
3                 Wyoming     92.8%    26.7%      9.3%
4                  Alaska     92.4%    29.0%     10.4%
5            North Dakota     92.3%    28.9%      7.8%
6                 Vermont     92.3%    36.8%     15.0%
7                   Maine     92.1%    30.3%     10.9%
8                    Iowa     91.8%    27.7%      9.0%
9                    Utah     91.8%    32.5%     11.0%
10              Wisconsin     91.7%    29.0%      9.9%
11                 Hawaii     91.6%    32.0%     10.8%
12           South Dakota     91.4%    27.8%      8.3%
13               Colorado     91.1%    39.4%     14.6%
14               Nebraska     90.9%    30.6%     10.2%
15             Washington     90.8%    34.5%     12.7%
16                 Kansas     90.5%    32.3%     11.7%
17   District of Columbia     90.3%    56.6%     32.8%
18          Massachusetts     90.3%    42.1%     18.7%
19                  Idaho     90.2%    26.8%      8.5%
20               Michigan     90.2%    28.1%     11.0%
21            Connecticut     90.2%    38.4%     17.0%
22                 Oregon     76.7%    32.3%     12.2%
23           Pennsylvania     89.9%    30.1%     11.8%
24               Maryland     89.8%    39.0%     18.0%
25                   Ohio     89.8%    27.2%     10.2%
26               Delaware     89.3%    31.0%     12.9%
27               Missouri     89.2%    28.2%     10.7%
28             New Jersey     89.2%    38.1%     14.7%
29               Virginia     89.0%    37.6%     16.1%
30               Illinois     88.6%    33.4%     13.0%
31                Indiana     88.3%    25.3%      9.2%
32                Florida     87.6%    28.5%     10.3%
33               Oklahoma     87.5%    24.8%      8.3%
34           Rhode Island     87.3%    33.0%     13.1%
35          United States     87.3%    30.9%     11.8%
36         North Carolina     86.9%    29.9%     10.6%
37         South Carolina     86.5%    27.0%      9.8%
38              Tennessee     86.5%    26.1%      9.6%
39                Georgia     86.3%    29.9%     11.4%
40               New York     86.1%    35.3%     15.4%
41          West Virginia     85.9%    19.9%      7.9%
42                 Nevada     85.8%    23.7%      8.1%
43               Arkansas     85.6%    22.0%      7.9%
44                Alabama     85.3%    24.5%      9.1%
45               Kentucky     85.2%    23.2%      9.6%
46             New Mexico     85.0%    26.9%     11.8%
47              Louisiana     84.3%    23.4%      8.1%
48            Mississippi     83.4%    21.3%      8.0%
49                  Texas     82.8%    28.7%      9.9%
50             California     82.5%    32.6%     12.2%
51                Arizona     82.1%    28.4%     10.7%

In [19]:
# We want to use the column *State* as index. Lets's run some checks first.
# Check that there are no extraneous values in the column State. If you find some, clean them.
print(df.index)
print(df.columns)
print(df.dtypes)

# Check for duplicate values
if df['State'].duplicated().any():
    print("Duplicate values found in the State column:")
    print(df[df['State'].duplicated(keep=False)].sort_values(by='State'))
else:
    print("No duplicate values found in the State column.")

# Check for Missing or NaN Values
if df['State'].isna().any():
    print("NaN values found in the State column:")
    print(df[df['State'].isna()])
else:
    print("No NaN values found in the State column.")

non_strings = df[df['State'].apply(lambda x: not isinstance(x, str))]
if not non_strings.empty:
    print("Non-string values found in the State column:")
    print(non_strings)
else:
    print("All values in the State column are strings.")

# Set the index to 'State'
df.set_index('State', inplace=True)

print(df.index)
print(df.columns)
print(df.dtypes)

RangeIndex(start=0, stop=52, step=1)
Index(['State', 'HSGradPer', 'BADegPer', 'AdvDegPer'], dtype='object')
State        object
HSGradPer    object
BADegPer     object
AdvDegPer    object
dtype: object
No duplicate values found in the State column.
No NaN values found in the State column.
All values in the State column are strings.
Index([' Montana', ' New Hampshire', ' Minnesota', ' Wyoming', ' Alaska',
       ' North Dakota', ' Vermont', ' Maine', ' Iowa', ' Utah', ' Wisconsin',
       ' Hawaii', ' South Dakota', ' Colorado', ' Nebraska', ' Washington',
       ' Kansas', ' District of Columbia', ' Massachusetts', ' Idaho',
       ' Michigan', ' Connecticut', ' Oregon', ' Pennsylvania', ' Maryland',
       ' Ohio', ' Delaware', ' Missouri', ' New Jersey', ' Virginia',
       ' Illinois', ' Indiana', ' Florida', ' Oklahoma', ' Rhode Island',
       ' United States', ' North Carolina', ' South Carolina', ' Tennessee',
       ' Georgia', ' New York', ' West Virginia', ' Nevada', ' Arkansas',
       ' Alabama', ' Kentucky', ' New Mexico', ' Louisiana', ' Mississippi',
       ' Texas', ' California', ' Arizona'],
      dtype='object', name='State')
Index(['HSGradPer', 'BADegPer', 'AdvDegPer'], dtype='object')
HSGradPer    object
BADegPer     object
AdvDegPer    object
dtype: object

You can use a list comprehension to return all states in the column States that have extraneous characters. You can apply the Python method [isalpha](https://docs.python.org/3/library/stdtypes.html) to a string to check whether all characters in it are alphabetic.

In [20]:
# In the column State replace the whitespaces with underscores

# Strip leading and trailing whitespaces from the index
df.index = df.index.str.strip()

#Replace all remaining whitespaces with underscores
df.index = df.index.str.replace(' ', '_')

# Show the modified index
print(df.index)

# Check if index values are unique
are_indexes_unique = df.index.is_unique

# Print the result
print("Are index values unique?", are_indexes_unique)

Index(['Montana', 'New_Hampshire', 'Minnesota', 'Wyoming', 'Alaska',
       'North_Dakota', 'Vermont', 'Maine', 'Iowa', 'Utah', 'Wisconsin',
       'Hawaii', 'South_Dakota', 'Colorado', 'Nebraska', 'Washington',
       'Kansas', 'District_of_Columbia', 'Massachusetts', 'Idaho', 'Michigan',
       'Connecticut', 'Oregon', 'Pennsylvania', 'Maryland', 'Ohio', 'Delaware',
       'Missouri', 'New_Jersey', 'Virginia', 'Illinois', 'Indiana', 'Florida',
       'Oklahoma', 'Rhode_Island', 'United_States', 'North_Carolina',
       'South_Carolina', 'Tennessee', 'Georgia', 'New_York', 'West_Virginia',
       'Nevada', 'Arkansas', 'Alabama', 'Kentucky', 'New_Mexico', 'Louisiana',
       'Mississippi', 'Texas', 'California', 'Arizona'],
      dtype='object', name='State')
Are index values unique? True

You can use the Series method [str.replace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html?highlight=str%20replace#pandas.Series.str.replace)

In [21]:
# Get rid of the summary row "United_States"

# Remove the row with index 'United_States'
# df.drop('United_States', inplace=True)
df.drop('United_States', inplace=True, errors='ignore')

print(df)

                     HSGradPer BADegPer AdvDegPer
State
Montana                  93.0%    30.7%     10.1%
New_Hampshire            92.8%    36.0%     13.8%
Minnesota                92.8%    34.8%     11.8%
Wyoming                  92.8%    26.7%      9.3%
Alaska                   92.4%    29.0%     10.4%
North_Dakota             92.3%    28.9%      7.8%
Vermont                  92.3%    36.8%     15.0%
Maine                    92.1%    30.3%     10.9%
Iowa                     91.8%    27.7%      9.0%
Utah                     91.8%    32.5%     11.0%
Wisconsin                91.7%    29.0%      9.9%
Hawaii                   91.6%    32.0%     10.8%
South_Dakota             91.4%    27.8%      8.3%
Colorado                 91.1%    39.4%     14.6%
Nebraska                 90.9%    30.6%     10.2%
Washington               90.8%    34.5%     12.7%
Kansas                   90.5%    32.3%     11.7%
District_of_Columbia     90.3%    56.6%     32.8%
Massachusetts            90.3%    42.1%     18.7%
Idaho                    90.2%    26.8%      8.5%
Michigan                 90.2%    28.1%     11.0%
Connecticut              90.2%    38.4%     17.0%
Oregon                   76.7%    32.3%     12.2%
Pennsylvania             89.9%    30.1%     11.8%
Maryland                 89.8%    39.0%     18.0%
Ohio                     89.8%    27.2%     10.2%
Delaware                 89.3%    31.0%     12.9%
Missouri                 89.2%    28.2%     10.7%
New_Jersey               89.2%    38.1%     14.7%
Virginia                 89.0%    37.6%     16.1%
Illinois                 88.6%    33.4%     13.0%
Indiana                  88.3%    25.3%      9.2%
Florida                  87.6%    28.5%     10.3%
Oklahoma                 87.5%    24.8%      8.3%
Rhode_Island             87.3%    33.0%     13.1%
North_Carolina           86.9%    29.9%     10.6%
South_Carolina           86.5%    27.0%      9.8%
Tennessee                86.5%    26.1%      9.6%
Georgia                  86.3%    29.9%     11.4%
New_York                 86.1%    35.3%     15.4%
West_Virginia            85.9%    19.9%      7.9%
Nevada                   85.8%    23.7%      8.1%
Arkansas                 85.6%    22.0%      7.9%
Alabama                  85.3%    24.5%      9.1%
Kentucky                 85.2%    23.2%      9.6%
New_Mexico               85.0%    26.9%     11.8%
Louisiana                84.3%    23.4%      8.1%
Mississippi              83.4%    21.3%      8.0%
Texas                    82.8%    28.7%      9.9%
California               82.5%    32.6%     12.2%
Arizona                  82.1%    28.4%     10.7%

You can use the DataFrame method [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

In [22]:
# Make a last check that there is only one row for each state
# Count the number of unique index values (states)
num_unique_states = df.index.nunique()

# Count the total number of rows in the DataFrame
total_rows = df.shape[0]

# Check if each state has only one corresponding row
if num_unique_states == total_rows:
    print("There is only one row for each state.")
else:
    print("Some states appear more than once.")

There is only one row for each state.

In [23]:
# Set the column State as the index
# Order the dataframe according to the index
# Inspect the dataframe

# Set the 'State' column as the index
# df.set_index('State', inplace=True)

# Sort the DataFrame by the index (State)
df.sort_index(inplace=True)

# Show the first few rows of the DataFrame to inspect the data
print(df)

                     HSGradPer BADegPer AdvDegPer
State
Alabama                  85.3%    24.5%      9.1%
Alaska                   92.4%    29.0%     10.4%
Arizona                  82.1%    28.4%     10.7%
Arkansas                 85.6%    22.0%      7.9%
California               82.5%    32.6%     12.2%
Colorado                 91.1%    39.4%     14.6%
Connecticut              90.2%    38.4%     17.0%
Delaware                 89.3%    31.0%     12.9%
District_of_Columbia     90.3%    56.6%     32.8%
Florida                  87.6%    28.5%     10.3%
Georgia                  86.3%    29.9%     11.4%
Hawaii                   91.6%    32.0%     10.8%
Idaho                    90.2%    26.8%      8.5%
Illinois                 88.6%    33.4%     13.0%
Indiana                  88.3%    25.3%      9.2%
Iowa                     91.8%    27.7%      9.0%
Kansas                   90.5%    32.3%     11.7%
Kentucky                 85.2%    23.2%      9.6%
Louisiana                84.3%    23.4%      8.1%
Maine                    92.1%    30.3%     10.9%
Maryland                 89.8%    39.0%     18.0%
Massachusetts            90.3%    42.1%     18.7%
Michigan                 90.2%    28.1%     11.0%
Minnesota                92.8%    34.8%     11.8%
Mississippi              83.4%    21.3%      8.0%
Missouri                 89.2%    28.2%     10.7%
Montana                  93.0%    30.7%     10.1%
Nebraska                 90.9%    30.6%     10.2%
Nevada                   85.8%    23.7%      8.1%
New_Hampshire            92.8%    36.0%     13.8%
New_Jersey               89.2%    38.1%     14.7%
New_Mexico               85.0%    26.9%     11.8%
New_York                 86.1%    35.3%     15.4%
North_Carolina           86.9%    29.9%     10.6%
North_Dakota             92.3%    28.9%      7.8%
Ohio                     89.8%    27.2%     10.2%
Oklahoma                 87.5%    24.8%      8.3%
Oregon                   76.7%    32.3%     12.2%
Pennsylvania             89.9%    30.1%     11.8%
Rhode_Island             87.3%    33.0%     13.1%
South_Carolina           86.5%    27.0%      9.8%
South_Dakota             91.4%    27.8%      8.3%
Tennessee                86.5%    26.1%      9.6%
Texas                    82.8%    28.7%      9.9%
Utah                     91.8%    32.5%     11.0%
Vermont                  92.3%    36.8%     15.0%
Virginia                 89.0%    37.6%     16.1%
Washington               90.8%    34.5%     12.7%
West_Virginia            85.9%    19.9%      7.9%
Wisconsin                91.7%    29.0%      9.9%
Wyoming                  92.8%    26.7%      9.3%

In [27]:
# Check that there is only one row for each state and then set *State* as the index of the table.

In [24]:
# Check that all the numerical column were loaded as a number
# If that's not the case, find out why, correct it, and cast the columns as numbers
print(df.dtypes)

print(df['HSGradPer'].unique())
print(df['BADegPer'].unique())
print(df['AdvDegPer'].unique())

df['HSGradPer'] = df['HSGradPer'].str.replace('%', '')
df['BADegPer'] = df['BADegPer'].str.replace('%', '')
df['AdvDegPer'] = df['AdvDegPer'].str.replace('%', '')

df['HSGradPer'] = pd.to_numeric(df['HSGradPer'], errors='coerce')
df['BADegPer'] = pd.to_numeric(df['BADegPer'], errors='coerce')
df['AdvDegPer'] = pd.to_numeric(df['AdvDegPer'], errors='coerce')

print(df.isna().sum())

print(df.dtypes)

HSGradPer    object
BADegPer     object
AdvDegPer    object
dtype: object
['85.3%' '92.4%' '82.1%' '85.6%' '82.5%' '91.1%' '90.2%' '89.3%' '90.3%'
 '87.6%' '86.3%' '91.6%' '88.6%' '88.3%' '91.8%' '90.5%' '85.2%' '84.3%'
 '92.1%' '89.8%' '92.8%' '83.4%' '89.2%' '93.0%' '90.9%' '85.8%' '85.0%'
 '86.1%' '86.9%' '92.3%' '87.5%' '76.7%' '89.9%' '87.3%' '86.5%' '91.4%'
 '82.8%' '89.0%' '90.8%' '85.9%' '91.7%']
['24.5%' '29.0%' '28.4%' '22.0%' '32.6%' '39.4%' '38.4%' '31.0%' '56.6%'
 '28.5%' '29.9%' '32.0%' '26.8%' '33.4%' '25.3%' '27.7%' '32.3%' '23.2%'
 '23.4%' '30.3%' '39.0%' '42.1%' '28.1%' '34.8%' '21.3%' '28.2%' '30.7%'
 '30.6%' '23.7%' '36.0%' '38.1%' '26.9%' '35.3%' '28.9%' '27.2%' '24.8%'
 '30.1%' '33.0%' '27.0%' '27.8%' '26.1%' '28.7%' '32.5%' '36.8%' '37.6%'
 '34.5%' '19.9%' '26.7%']
['9.1%' '10.4%' '10.7%' '7.9%' '12.2%' '14.6%' '17.0%' '12.9%' '32.8%'
 '10.3%' '11.4%' '10.8%' '8.5%' '13.0%' '9.2%' '9.0%' '11.7%' '9.6%'
 '8.1%' '10.9%' '18.0%' '18.7%' '11.0%' '11.8%' '8.0%' '10.1%' '10.2%'
 '13.8%' '14.7%' '15.4%' '10.6%' '7.8%' '8.3%' '13.1%' '9.8%' '9.9%'
 '15.0%' '16.1%' '12.7%' '9.3%']
HSGradPer    0
BADegPer     0
AdvDegPer    0
dtype: int64
HSGradPer    float64
BADegPer     float64
AdvDegPer    float64
dtype: object

In [25]:
# Make a last inspection of the dataframe edu
print(df)

                      HSGradPer  BADegPer  AdvDegPer
State
Alabama                    85.3      24.5        9.1
Alaska                     92.4      29.0       10.4
Arizona                    82.1      28.4       10.7
Arkansas                   85.6      22.0        7.9
California                 82.5      32.6       12.2
Colorado                   91.1      39.4       14.6
Connecticut                90.2      38.4       17.0
Delaware                   89.3      31.0       12.9
District_of_Columbia       90.3      56.6       32.8
Florida                    87.6      28.5       10.3
Georgia                    86.3      29.9       11.4
Hawaii                     91.6      32.0       10.8
Idaho                      90.2      26.8        8.5
Illinois                   88.6      33.4       13.0
Indiana                    88.3      25.3        9.2
Iowa                       91.8      27.7        9.0
Kansas                     90.5      32.3       11.7
Kentucky                   85.2      23.2        9.6
Louisiana                  84.3      23.4        8.1
Maine                      92.1      30.3       10.9
Maryland                   89.8      39.0       18.0
Massachusetts              90.3      42.1       18.7
Michigan                   90.2      28.1       11.0
Minnesota                  92.8      34.8       11.8
Mississippi                83.4      21.3        8.0
Missouri                   89.2      28.2       10.7
Montana                    93.0      30.7       10.1
Nebraska                   90.9      30.6       10.2
Nevada                     85.8      23.7        8.1
New_Hampshire              92.8      36.0       13.8
New_Jersey                 89.2      38.1       14.7
New_Mexico                 85.0      26.9       11.8
New_York                   86.1      35.3       15.4
North_Carolina             86.9      29.9       10.6
North_Dakota               92.3      28.9        7.8
Ohio                       89.8      27.2       10.2
Oklahoma                   87.5      24.8        8.3
Oregon                     76.7      32.3       12.2
Pennsylvania               89.9      30.1       11.8
Rhode_Island               87.3      33.0       13.1
South_Carolina             86.5      27.0        9.8
South_Dakota               91.4      27.8        8.3
Tennessee                  86.5      26.1        9.6
Texas                      82.8      28.7        9.9
Utah                       91.8      32.5       11.0
Vermont                    92.3      36.8       15.0
Virginia                   89.0      37.6       16.1
Washington                 90.8      34.5       12.7
West_Virginia              85.9      19.9        7.9
Wisconsin                  91.7      29.0        9.9
Wyoming                    92.8      26.7        9.3

### File Life Expectancy: "life_expectancy.csv"
The file contains the following columns  

```
Column        | Description
--------------| --------------------------------
State         | name of the state  
LifeExp2018   | life expectancy (2017)   
LifeExp2010   | life expectancy (2010)
MaleLifeExp   | male life expectancy
FemLifeExp    | female life expectancy
```

In [35]:
# load the file life_expectancy.csv and make a first inspection

life_exp_csv_name = 'work/csv/life_expectancy.csv'
life_exp = pd.read_csv('%s' % life_exp_csv_name, delimiter=';')

print(life_exp)
print(life_exp.columns)
if 'State' in df.columns:
    df['State'] = df['State'].str.strip()
else:
    print("Column 'State' not found in DataFrame.")

                        State LifeExp2018  LifeExp2010  MaleLifeExp  \
0                      Hawaii        82.3         81.4         79.3
1                  California        81.6         80.6         79.4
2                 Puerto Rico        81.3         78.7         77.6
3                    New York        81.3         80.3         79.0
4         U.S. Virgin Islands        81.2         79.2         76.3
5                   Minnesota        81.0         80.8         79.0
6                 Connecticut        80.9         80.7         78.7
7                        Guam        80.7         78.2         77.6
8                    Colorado        80.5         80.1         78.5
9               Massachusetts        80.5         80.5         78.2
10                 Washington        80.4         80.1         78.4
11                 New Jersey        80.4         80.0         78.2
12                    Florida        80.0         79.0         77.3
13                    Arizona        79.9         79.3         77.5
14               Rhode Island        79.9         79.5         77.7
15               North Dakota        79.9         79.7         77.6
16                       Utah        79.9         79.8         78.2
17                     Oregon        79.8         79.5         77.8
18                    Vermont        79.7         80.1         77.8
19                   Nebraska        79.6         79.7         77.4
20                   Virginia        79.5         79.1         77.4
21              New Hampshire        79.5         80.3         77.5
22                       Iowa        79.4         79.6         77.2
23                  Wisconsin        79.4         79.6         77.3
24                   Illinois        79.3         79.0         77.0
25                      Idaho        79.3         79.4         77.4
26                      Texas        79.1         78.4         76.8
27                   Maryland        79.1         79.0         76.7
28               South Dakota        79.1         79.3         76.7
29                    Wyoming        79.0         78.1         77.1
30                     Alaska        78.8         78.0         76.7
31                    Montana        78.8         78.5         76.8
32              United States    78.7[17]         78.7         76.2
33                      Maine        78.7         79.1         76.6
34       District of Columbia        78.6         76.5         75.7
35                     Nevada        78.5         77.8         76.1
36                     Kansas        78.5         78.6         76.3
37                   Delaware        78.4         78.3         76.2
38               Pennsylvania        78.3         78.5         75.8
39                 New Mexico        78.1         78.2         75.3
40             North Carolina        78.0         77.8         75.5
41                   Michigan        78.0         78.0         75.7
42                    Georgia        77.8         77.3         75.4
43                   Missouri        77.3         77.4         74.9
44             South Carolina        77.0         76.8         74.4
45                    Indiana        77.0         77.5         74.6
46                       Ohio        76.9         77.7         74.6
47   Northern Mariana Islands        76.4         76.9         73.6
48                  Louisiana        76.1         75.8         73.4
49                   Oklahoma        76.0         75.7         73.7
50                  Tennessee        76.0         76.2         73.3
51                   Arkansas        75.9         76.0         73.1
52                    Alabama        75.4         75.4         72.6
53                   Kentucky        75.4         75.9         72.8
54                Mississippi        74.9         74.8         71.9
55             American Samoa        74.8         74.0         73.0
56              West Virginia        74.8         75.5         72.4

    FemLifeExp
0         85.3
1         83.8
2         84.7
3         83.4
4         85.6
5         83.0
6         83.0
7         83.8
8         82.5
9         82.6
10        82.4
11        82.5
12        82.6
13        82.3
14        82.1
15        82.5
16        81.6
17        81.9
18        81.7
19        81.7
20        81.5
21        81.4
22        81.6
23        81.5
24        81.6
25        81.2
26        81.5
27        81.4
28        81.6
29        81.1
30        81.2
31        81.0
32        81.2
33        81.0
34        81.3
35        81.0
36        80.7
37        80.6
38        80.6
39        81.0
40        80.3
41        80.2
42        80.0
43        79.8
44        79.6
45        79.3
46        79.2
47        79.3
48        79.0
49        78.4
50        78.6
51        78.6
52        78.1
53        77.9
54        78.0
55        77.0
56        77.4
Index(['State', 'LifeExp2018', 'LifeExp2010', 'MaleLifeExp', 'FemLifeExp'], dtype='object')
Column 'State' not found in DataFrame.

In [33]:
# We'll follow the same steps for the file life_expectancy
# Since you will have to repeat these steps for the other files, we are going to define a function to clean a dataset
def set_state_as_index(df):
    # Clean the column 'State', eliminating extraneous whitespaces at both ends
    df['State'] = df['State'].str.strip()

    # Replace the middle whitespaces with underscores
    df['State'] = df['State'].str.replace(' ', '_')

    # Check that there are no duplicates in the column 'State'
    if df['State'].duplicated().any():
        print("Duplicate values found in the State column:")
        print(df[df['State'].duplicated(keep=False)].sort_values(by='State'))
        # Additional steps to handle duplicates would go here
    else:
        print("No duplicate values found in the State column.")
    
    # Set the 'State' column as the index of the DataFrame and sort by the index
    df.set_index('State', inplace=True)
    df.sort_index(inplace=True)
    
    # if there is a summary row "United States", drop it
    # If there is a summary row "United_States", drop it
    if "United_States" in df.index:
        df.drop("United_States", inplace=True)

    return df

In [36]:
# Run the function set_state_as_index on life_exp
life_exp = set_state_as_index(life_exp)

No duplicate values found in the State column.

In [37]:
# inspect the dataframe
print(life_exp)

                         LifeExp2018  LifeExp2010  MaleLifeExp  FemLifeExp
State
Alabama                         75.4         75.4         72.6        78.1
Alaska                          78.8         78.0         76.7        81.2
American_Samoa                  74.8         74.0         73.0        77.0
Arizona                         79.9         79.3         77.5        82.3
Arkansas                        75.9         76.0         73.1        78.6
California                      81.6         80.6         79.4        83.8
Colorado                        80.5         80.1         78.5        82.5
Connecticut                     80.9         80.7         78.7        83.0
Delaware                        78.4         78.3         76.2        80.6
District_of_Columbia            78.6         76.5         75.7        81.3
Florida                         80.0         79.0         77.3        82.6
Georgia                         77.8         77.3         75.4        80.0
Guam                            80.7         78.2         77.6        83.8
Hawaii                          82.3         81.4         79.3        85.3
Idaho                           79.3         79.4         77.4        81.2
Illinois                        79.3         79.0         77.0        81.6
Indiana                         77.0         77.5         74.6        79.3
Iowa                            79.4         79.6         77.2        81.6
Kansas                          78.5         78.6         76.3        80.7
Kentucky                        75.4         75.9         72.8        77.9
Louisiana                       76.1         75.8         73.4        79.0
Maine                           78.7         79.1         76.6        81.0
Maryland                        79.1         79.0         76.7        81.4
Massachusetts                   80.5         80.5         78.2        82.6
Michigan                        78.0         78.0         75.7        80.2
Minnesota                       81.0         80.8         79.0        83.0
Mississippi                     74.9         74.8         71.9        78.0
Missouri                        77.3         77.4         74.9        79.8
Montana                         78.8         78.5         76.8        81.0
Nebraska                        79.6         79.7         77.4        81.7
Nevada                          78.5         77.8         76.1        81.0
New_Hampshire                   79.5         80.3         77.5        81.4
New_Jersey                      80.4         80.0         78.2        82.5
New_Mexico                      78.1         78.2         75.3        81.0
New_York                        81.3         80.3         79.0        83.4
North_Carolina                  78.0         77.8         75.5        80.3
North_Dakota                    79.9         79.7         77.6        82.5
Northern_Mariana_Islands        76.4         76.9         73.6        79.3
Ohio                            76.9         77.7         74.6        79.2
Oklahoma                        76.0         75.7         73.7        78.4
Oregon                          79.8         79.5         77.8        81.9
Pennsylvania                    78.3         78.5         75.8        80.6
Puerto_Rico                     81.3         78.7         77.6        84.7
Rhode_Island                    79.9         79.5         77.7        82.1
South_Carolina                  77.0         76.8         74.4        79.6
South_Dakota                    79.1         79.3         76.7        81.6
Tennessee                       76.0         76.2         73.3        78.6
Texas                           79.1         78.4         76.8        81.5
U.S._Virgin_Islands             81.2         79.2         76.3        85.6
Utah                            79.9         79.8         78.2        81.6
Vermont                         79.7         80.1         77.8        81.7
Virginia                        79.5         79.1         77.4        81.5
Washington                      80.4         80.1         78.4        82.4
West_Virginia                   74.8         75.5         72.4        77.4
Wisconsin                       79.4         79.6         77.3        81.5
Wyoming                         79.0         78.1         77.1        81.1

Now lets's check which numeric columns contain something else than digits or a dot.   
We are going to use regular expressions to check if the elements of the dataframe contain numbers (digits with or without a dot).  
If you want to review regular expression, see the link we provided in the project

In [49]:
# define a function that uses regular expresions to check if a string contains only digits with or without a dot
import re
def check_digit_or_dot(x):
    if pd.isna(x):  # Skip NaN values
        return False
    pattern = r'^\d+(\.\d+)?$'  # This regular expression matches digits with or without a dot
    return bool(re.match(pattern, str(x)))

# create a boolean dataframe that is the result of applying the function check_digit_or_dot to all the elements of life_exp
bool_life_exp = life_exp.applymap(check_digit_or_dot)

# inspect the rows of the boolean dataframe to see if there are any False values
print("Boolean DataFrame:")
print(bool_life_exp)

# Print the rows of df where there is at least one value that's not a number
print("\nRows containing at least one value that's not a number:")
print(life_exp[~bool_life_exp.all(axis=1)])

Boolean DataFrame:
                          LifeExp2018  LifeExp2010  MaleLifeExp  FemLifeExp
State
Alabama                          True         True         True        True
Alaska                           True         True         True        True
American_Samoa                   True         True         True        True
Arizona                          True         True         True        True
Arkansas                         True         True         True        True
California                       True         True         True        True
Colorado                         True         True         True        True
Connecticut                      True         True         True        True
Delaware                         True         True         True        True
District_of_Columbia             True         True         True        True
Florida                          True         True         True        True
Georgia                          True         True         True        True
Guam                             True         True         True        True
Hawaii                           True         True         True        True
Idaho                            True         True         True        True
Illinois                         True         True         True        True
Indiana                          True         True         True        True
Iowa                             True         True         True        True
Kansas                           True         True         True        True
Kentucky                         True         True         True        True
Louisiana                        True         True         True        True
Maine                            True         True         True        True
Maryland                         True         True         True        True
Massachusetts                    True         True         True        True
Michigan                         True         True         True        True
Minnesota                        True         True         True        True
Mississippi                      True         True         True        True
Missouri                         True         True         True        True
Montana                          True         True         True        True
Nebraska                         True         True         True        True
Nevada                           True         True         True        True
New_Hampshire                    True         True         True        True
New_Jersey                       True         True         True        True
New_Mexico                       True         True         True        True
New_York                         True         True         True        True
North_Carolina                   True         True         True        True
North_Dakota                     True         True         True        True
Northern_Mariana_Islands         True         True         True        True
Ohio                             True         True         True        True
Oklahoma                         True         True         True        True
Oregon                           True         True         True        True
Pennsylvania                     True         True         True        True
Puerto_Rico                      True         True         True        True
Rhode_Island                     True         True         True        True
South_Carolina                   True         True         True        True
South_Dakota                     True         True         True        True
Tennessee                        True         True         True        True
Texas                            True         True         True        True
U.S._Virgin_Islands              True         True         True        True
Utah                             True         True         True        True
Vermont                          True         True         True        True
Virginia                         True         True         True        True
Washington                       True         True         True        True
West_Virginia                    True         True         True        True
Wisconsin                        True         True         True        True
Wyoming                          True         True         True        True

Rows containing at least one value that's not a number:
Empty DataFrame
Columns: [LifeExp2018, LifeExp2010, MaleLifeExp, FemLifeExp]
Index: []

In [51]:
# coerce the columns to be numeric
for col in life_exp.columns:
    life_exp[col] = pd.to_numeric(life_exp[col], errors='raise')

# check if all the columns are numeric
print(life_exp.dtypes)

LifeExp2018    float64
LifeExp2010    float64
MaleLifeExp    float64
FemLifeExp     float64
dtype: object

In [52]:
# inspect the whole dataframe life_exp to see if all is ok
print(life_exp)

                          LifeExp2018  LifeExp2010  MaleLifeExp  FemLifeExp
State
Alabama                          75.4         75.4         72.6        78.1
Alaska                           78.8         78.0         76.7        81.2
American_Samoa                   74.8         74.0         73.0        77.0
Arizona                          79.9         79.3         77.5        82.3
Arkansas                         75.9         76.0         73.1        78.6
California                       81.6         80.6         79.4        83.8
Colorado                         80.5         80.1         78.5        82.5
Connecticut                      80.9         80.7         78.7        83.0
Delaware                         78.4         78.3         76.2        80.6
District_of_Columbia             78.6         76.5         75.7        81.3
Florida                          80.0         79.0         77.3        82.6
Georgia                          77.8         77.3         75.4        80.0
Guam                             80.7         78.2         77.6        83.8
Hawaii                           82.3         81.4         79.3        85.3
Idaho                            79.3         79.4         77.4        81.2
Illinois                         79.3         79.0         77.0        81.6
Indiana                          77.0         77.5         74.6        79.3
Iowa                             79.4         79.6         77.2        81.6
Kansas                           78.5         78.6         76.3        80.7
Kentucky                         75.4         75.9         72.8        77.9
Louisiana                        76.1         75.8         73.4        79.0
Maine                            78.7         79.1         76.6        81.0
Maryland                         79.1         79.0         76.7        81.4
Massachusetts                    80.5         80.5         78.2        82.6
Michigan                         78.0         78.0         75.7        80.2
Minnesota                        81.0         80.8         79.0        83.0
Mississippi                      74.9         74.8         71.9        78.0
Missouri                         77.3         77.4         74.9        79.8
Montana                          78.8         78.5         76.8        81.0
Nebraska                         79.6         79.7         77.4        81.7
Nevada                           78.5         77.8         76.1        81.0
New_Hampshire                    79.5         80.3         77.5        81.4
New_Jersey                       80.4         80.0         78.2        82.5
New_Mexico                       78.1         78.2         75.3        81.0
New_York                         81.3         80.3         79.0        83.4
North_Carolina                   78.0         77.8         75.5        80.3
North_Dakota                     79.9         79.7         77.6        82.5
Northern_Mariana_Islands         76.4         76.9         73.6        79.3
Ohio                             76.9         77.7         74.6        79.2
Oklahoma                         76.0         75.7         73.7        78.4
Oregon                           79.8         79.5         77.8        81.9
Pennsylvania                     78.3         78.5         75.8        80.6
Puerto_Rico                      81.3         78.7         77.6        84.7
Rhode_Island                     79.9         79.5         77.7        82.1
South_Carolina                   77.0         76.8         74.4        79.6
South_Dakota                     79.1         79.3         76.7        81.6
Tennessee                        76.0         76.2         73.3        78.6
Texas                            79.1         78.4         76.8        81.5
U.S._Virgin_Islands              81.2         79.2         76.3        85.6
Utah                             79.9         79.8         78.2        81.6
Vermont                          79.7         80.1         77.8        81.7
Virginia                         79.5         79.1         77.4        81.5
Washington                       80.4         80.1         78.4        82.4
West_Virginia                    74.8         75.5         72.4        77.4
Wisconsin                        79.4         79.6         77.3        81.5
Wyoming                          79.0         78.1         77.1        81.1

## Crime file: "crime.csv"

The file contains the following columns:

```
Column   |  Description
---------| --------------------------------
1°       |  name of the state                              
2°       |  population (total inhabitants) (2015)                   
3°       |  murders and non-negligent manslaughter (total deaths) (2015)
4°       |  murders (total deaths) (2015)
5°       |  gun murders (total deaths) (2015)
6°       |  gun ownership (%) (2013)
7°       |  murders and non-negligent manslaughter rate (per 100,000) (2015)
8°       |  murder rate (per 100,000) 
9°       |  gun murder rate (per 100,000)
```


Follow the same procedure as with the other files

## Area file: "area.csv"

The file contains the following columns:    

```
Column    |  Description
----------| --------------------------------
State     |  name of the state                              
TotalRank |  total area rank  
TotalSqMi |  total area in SqMi
TotalKmQ  |  total area in KmQ
LandRank  |  land area rank
LandSqMi  |  land area in SqMi 
LandKmQ   |  land area in KmQ
LandPer   |  land area percentage 
WaterRank |  water area rank
WaterSqMi |  water area in SqMi
WaterKmQ  |  water area in KmQ
WaterPer  |  water area percentage
```

Follow the same procedure as the other files
Do not load the rank columns

## Income file: "income.xls"

For the file income we have an excel file: 'income.xlsx'. It contains the following columns:  

```
Column                                  |  Description    
--------------------------------------- | --------------------------------   
Rank                                    |  Rank for income in 2017   
State                                   |  name of the State    
Income2017                              |  median household  income in 2017   
Income2016                              |  median household  income in 2016  
...                                     |  ...  
Income2007                              |  median household  income in 2007
```

Follow the same procedure as with the other files  
Since this is an Excel file you'll need the Pandas function [read_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)  
Do not load the rank column

## Region file: "region.txt"
The file 'region.txt' file contains the following columns:  

```
Column     |  Description
---------- | --------------------------------
Name      |  name of the state 
Abb        |  abbreviation of the name of the state
Region     |  the region that each state belong to (Northeast, South, North Central, West)
Division   |  state division (New England, Middle Atlantic, South Atlantic, East South Central, West South Central, East North Central, West North Central, Mountain, and Pacific)
```

Follow the same procedure as the other files  
You can load it with the Pandas function [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)   
Check what column separator was used.   
Pay attention to the Division Column. There appear to be some inconsistencies.

### Data Collection Report

We loaded four csv data files, an excel file, and a text file. The first five data files were acquired from the following internet sources (Wikipedia):   
* edu.csv : [List of U.S. states and territories by educational attainment](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_educational_attainment)
* crime.csv: [Gun violence in the United States by state](https://en.wikipedia.org/wiki/Gun_violence_in_the_United_States_by_state)
* area.csv: [List of U.S. states and territories by area](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area)
* life_expectancy.csv: [List of U.S. states and territories by life expectancy](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_life_expectancy)
The income file was provided in Excel format  
* income.xlsx: Household income in the United States (https://en.wikipedia.org/wiki/Household_income_in_the_United_States)
The region text data file was obtained from R package ‘datasets’ (state.x77)  
* region.txt 

#### Problems encountered:
** TO TO **
List the problems you encountered and the solution you took

## 2. Data Description

In this part , you'll examine the "surface" properties of the data. 
Check the number of rows of each dataframe.
You can use the DataFrame property [shape](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html#pandas.DataFrame.shape)

### Data Description Report

We acquired the following dataframes. All the dataframes have as index the State column.

###### edu
** TO DO **
number of rows

```
Column    |  Type   | Description
----------|---------|-------------------------
State     |  object | name of the state         
HSGradPer | float64 | % high school graduate or higher  
BADegPer  | float64 | % bachelor degree or higher  
AdvDegPer | float64 | % advanced degree or higher  
```

###### life_exp
** TO DO **
number of rows 

```
Column      |  Type   | Description
------------|---------|-------------------------
State       |  object | name of the state         
LifeExp2018 | float64 | life expectancy (2017)   
LifeExp2010 | float64 | life expectancy (2010)   
MaleLifeExp | float64 | male life expectancy  
FemLifeExp  | float64 | female life expectancy
```

###### crime
** TO DO **
number of rows 

```
Column       |  Type   | Description
-------------|---------|-------------------------
State        |  object | name of the state           
PopTot       |   int64 | population (total inhabitants) (2015) 
MurderNMTot  |   int64 | murders and non-negligent manslaughter (total deaths) (2015)
MurderTot    | float64 | murders (total deaths) (2015) 
GunMurderTot | float64 | gun murders (total deaths) (2015)
GunOwnerPer  | float64 | gun ownership (%) (2013) 
MurderNMRate | float64 | murders and non-negligent manslaughter rate (per 100,000) (2015) 
MurderRate   | float64 | murder rate (per 100,000)
GunMurderRate| float64 | gun murder rate (per 100,000)
```

###### area
** TO DO **
number of rows

```
Column    |  Type   | Description
----------|---------|-------------------------
State     |  object | name of the state           
TotalSqMi | float64 |  total area in SqMi
TotalKmQ  |   int64 |  total area in KmQ
LandSqMi  | float64 |  land area in SqMi 
LandKmQ   |   int64 |  land area in KmQ
LandPer   | float64 |  land area percentage 
WaterSqMi | float64 |  water area in SqMi
WaterKmQ  |   int64 |  water area in KmQ
WaterPer  | float64 |  water area percentage
```

###### income
** TO DO **
number of rows rows

```
Column     |  Type   | Description
-----------|---------|-------------------------
State      |  object | name of the state           
Income2017 |   int64 | median household income in 2017
Income2016 |   int64 | median household income in 2016
Income2015 |   int64 | median household income in 2015
Income2014 |   int64 | median household income in 2014
Income2013 |   int64 | median household income in 2013
Income2012 |   int64 | median household income in 2012
Income2011 |   int64 | median household income in 2012
Income2010 |   int64 | median household income in 2010
Income2009 |   int64 | median household income in 2009
Income2008 |   int64 | median household income in 2008
Income2007 |   int64 | median household income in 2007
```

###### region
** TO DO **
number of row

```
Column     |  Type   | Description
-----------|---------|-------------------------
State      |  object | name of the state    
Abb        |  object | abbreviation of the name of the state
Region     |  object | the region that each state belongs to (Northeast, South, North Central, West)          
Division   |  object | state divisions (New England, Middle Atlantic, South Atlantic, East South Central, West South Central, East North Central, West North Central, Mountain, and Pacific)           
```

## 3. Data Quality

In this part you’ll examine if the data is complete. Check if you have all the cases you need (in this case, all the US states) and if there are missing values.

In the U.S. there are 50 states, the federal district 'District of Columbia' and 5 inhabited territories: 'Puerto Rico', 'American Samoa', 'Guam', 'Northern Mariana Islands', and 'U.S. Virgin Islands’.

Check if all the files you loaded contain the fifty states and if there are differences, investigate where these differences come from. You can use the index of the DataFrame region as a guide.

Then check if there are missing values.

In [39]:
# define a variable state_names with the states in the index of region

In [40]:
# for each of the other DataFrames, check if they contain a state that's not in state_names

Check if the dataframes have missing values.   
You can use the DataFrame method [isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html?highlight=isnull#pandas.DataFrame.isnull)

### Data Quality Report

In the U.S. there are fifty states, the federal district 'District of Columbia' and five inhabited territories: 'Puerto Rico', 'American Samoa', 'Guam', 'Northern Mariana Islands', and 'U.S. Virgin Islands'.

** TO DO **       
Explain your findings

## 4. Save the data

Save the dataframes for the next milestone.
You can use the DataFrame method [to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html?highlight=to_csv#pandas.DataFrame.to_csv)